@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


body{
    overflow-x: hidden;
    font-family: "Poppins";
    font-weight: 300; 
}

*{
    margin: 0;
}

.ligma{
    height: 80px;
    width: 50px;
}
/*
.nav{
    left: 50%;
    transform: translateX(-50%);
}
*/
.hero-img{
    border-radius: 11px;
}

.hero-container{
    width: 400px;
    height: 400px;
}

/*
.home-img{
  height: 240px;
}


@media (max-width:1285px) {
  .home-img{
    height: 210px;
  }  
}

@media (max-width:1030px) {
  .home-img{
  
  }  
}
*/