@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


body{
    overflow-x: hidden;
    font-family: "Poppins";
    font-weight: 300; 
}

*{
    margin: 0;
}

.ligma{
    height: 80px;
    width: 50px;
}
/*
.nav{
    left: 50%;
    transform: translateX(-50%);
}
*/
.hero-img{
    border-radius: 11px;
}

.hero-container{
    width: 400px;
    height: 400px;
}

.one{
    width:190px;
    height: 250px;
    left: 0;
    top: 10%;
    transform: rotate(-18deg);
}

.two{
    width: 205px;
    height: 225px;
    left: 45%;
    top: 20%;
    transform: rotate(18deg);
}

.three{
    width: 220px;
    height: 260px;
    bottom: -20%;
    left: 10% ;
    transform: rotate(10deg);
}



@media (max-width:900px) {
    .glasses.two{
        display: none;
    } 
}


@media (max-width:767px) {
    .watches.one{
        display: none;
    }

    .watches.two{
        height: 235px;
        transform: rotate(-18deg);
    }
}